.app-container {
  background-color: #F3E8FF; /* Fondo suave */
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #6C2DC7; /* Texto general */
  padding-top: 100px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-product-btn {
  background-color: #A259FF; /* Color principal */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-product-btn:hover {
  background-color: #6C2DC7; /* Color oscuro */
}